
body {
  background-color : #112233;
  color: #dddded;

}
:root {
    --root-bg: #171f2bff;
    --root-bg2: #26365daa;
    --root-gr-bg: #171f2b;
    --root-gr-bg2: #26365d;
    /*--root-fg: #aaaaff;*/
    --root-fg: #ffffff;
}
td {
    border-bottom: 1px solid var(--root-gr-bg2);
}
a {
  color: #aaf;
  text-decoration: none;
}
 a:hover{ text-decoration: none; }
/* Full-width inputs */
.button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #55c;
  box-sizing: border-box;
  background-color: #26365d;
  color: white;
}