<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/s/s.css">
    <script src="/s/d3.v4.min.js"></script>
    <script src="/s/d3-horizon-chart.js"></script>
    <title>{{ .title }}</title>
</head>
<body>
<table>
    <tr>
        <td>Heap</td>
        <td><div role="heap_history">
                <canvas height="20" width="256"></canvas>
            </div></td>
         <td rowspan="4">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td rowspan="4">
            <b>HAProxy stats</b><br>
            <ul>
                <li> time to start of response</li>
                <li> request rate</li>
            </ul>

        </td>
    </tr>
    <tr>
        <td>Pause</td>
        <td><div role="pause_history"><canvas height="20" width="256"></canvas></div></td>
    </tr>
    <tr>
        <td>CPU User</td>
        <td><div role="cpu_user_history"><canvas height="20" width="256"></canvas></div></td>
    </tr>
    <tr>
        <td>Cpu Sys</td>
        <td><div role="cpu_sys_history"><canvas height="20" width="256"></canvas></div></td>
    </tr>
</table>
<script src="/s/appStats.js"></script>
<table>
    {{range .frontend_list}}
    <tr>
        <td><a href="/frontend/{{.}}">{{.}}</a></td>
        <td>
            <div role="front_{{.}}"><canvas height="20" width="256"></canvas></div>
            <div role="front_rate_{{.}}"><canvas height="20" width="256"></canvas></div>
        </td>
        <script>
            runGraph(chartTimeMs,"/v1/stats/frontend","duration_ms","{{.}}","front_{{.}}")
            runGraph(chartReq,"/v1/stats/frontend","request_rate","{{.}}","front_rate_{{.}}")
        </script>
    </tr>
    {{end}}
</table>
</body>
