<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/s/s.css">
    <script src="/s/d3.v4.min.js"></script>
    <script src="/s/d3-horizon-chart.js"></script>
    <title>{{ .title }}</title>
</head>
<body>
<div role="horizon"></div>

Heap<br>
<div role="heap_history"></div>
Pause<br>
<div role="pause_history"></div>
CPU User<br>
<div role="cpu_user_history"></div>
Cpu Sys<br>
<div role="cpu_sys_history"></div>
<script src="/s/appStats.js"></script>
<div class=".horizon"></div>

<script>

</script>


</body>
